.table
    display flex
    flex-wrap wrap
    width 100%

    .cell
        box-sizing border-box
        display flex
        justify-content center
        align-items center

        width 10%

        border 5px solid black

        &_up
            border-color green


        &_down
            border-color red
